nav {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: white;
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    justify-self: center;
    font-size: 200%;
}

.filter-section {
    align-self: flex-start;
    margin: 15px;
    margin-bottom: -50px;
}

.filter-message, #dropdown {
    margin: 0px;
}

option {
    width: 100px;
}

@media only screen and (max-width: 945px) {
    nav {
        height: 120px;
    }

    .header-title{
        width: 60%;
    }
  }

  @media only screen and (max-width: 590px) {
    .filter-section {
        align-self: center;
        margin-top: 100px;
        margin-bottom: -150px;
    }

    nav {
        height: 150px;
    }

    .header-title{
        width: 80%;
    }
  }

  @media only screen and (max-width: 585px) {
    nav {
        height: 150px;
    }
  }


  @media only screen and (max-width: 420px) {
    .filter-section {
        align-self: center;
        margin-top: 100px;
        margin-bottom: -150px;
    }

    .header-title{
        width: 100%;
    }
  }